.infotext {
    position: absolute;
    font-size: large;
    font-weight: bolder;
    top: 6px;
    margin-left: 8px;
    white-space: pre-line;
}

.warning {
    color: red;
    top: 24px;
}

.basicBtn {
    background-color: royalblue;
    color: white;
    width: 90px;
    margin: 10px 4px 0px;
    padding: 6px 12px;

    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: royalblue;
}

.basicBtnRed {
    background-color: red;
    border-color: red;
}

.functionList {
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

.div-container {
    width: 99vw;
    height: 80vh;
}

.div-container-item {
    border: 1px solid black;
    height: 100%;
    margin: 10px 4px 0px;
    float: left;
}

.div-container-code {
    width: 70%;
}

.div-container-textarea {
    width: 28%;
}

.textarea {
    font-family: monospace;
    padding-left: 4px;
    resize: none;
    outline: none;
}

.functions {
    width: 200px;
    height: 48%;
    padding-left: 4px;
    border: 1px solid black;
    resize: none;
    outline: none;
    overflow: auto;
}

.CodeMirror {
    height: 100%;
    border: none;
}

.nav-tabs {
    display: block;
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}

.nav-item {
    background-color: inherit;
    color: black;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 1px solid grey;
}

.nav-link {
    transition: padding 0.1s, color 0.1s;
    overflow: hidden;
}

.nav-link.dragged {
    padding: 0px;
    color: white;
}

.nav-link.dragged.active {
    color: royalblue;
}

.nav-tabs .nav-link {
    border: none;
    margin: none;
}

.nav-tabs .nav-link.active {
    background-color: royalblue;
    color: white;
}

@media (prefers-color-scheme: dark) {
    body,
    .functionList,
    .div-container-item {
        background-color: rgb(43, 43, 43);
        color: #a9b7c6;
        caret-color: #f8f8f2;
    }

    ::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .basicBtn,
    .nav-tabs .nav-link {
        border-radius: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
